body{
    background-color: burlywood;
   
    

}
h1{
    text-align: center;
}
#header{
    background-color: rgb(156, 91, 91);
    border-bottom: 3px solid black;
     text-align: right;
     margin:0;
}
.logout{
    text-decoration: none;
    margin-right: 30px;
   background-color:gold ;
   color:black;
   border:1px solid black;
   text-align: center;
   padding: 2px;
}
.logout:hover{
    background-color:rgb(223, 205, 103) ;
   
}
.user{
    margin-right: 10px;
    color:white
}
form{
    text-align: center;
    background-color: khaki;
    border:2px solid grey;
    border-radius: 5%;
    width:fit-content;
    padding:20px;
    margin-top: 40px;
   
}
/*
#form-box{
    width:100%
}
*/

input{
    margin:5px
}
select{
    margin:5px
}
input[type='submit']{
    background-color: cornflowerblue;
    cursor:pointer
}
input[type='submit']:hover{
    background-color: coral;
}
/*styling for the POST*/
.container{
    display:flex;
    margin:10px 20px;
    background-color: burlywood;
    width:100%;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction: row;
}
.activity-box{
    text-align: center;
    font-family: fantasy;
    display:none;
   
 
}
.activity{
  background-color: rgb(143, 140, 116);
    border:2px solid rgb(184, 188, 214);
    border-radius: 5%;
    padding:20px;
    margin:40px;
}
.acitivity-line{
   background-color: beige ;
}
img{
    height:100px;
    width:200px
}
/* activities layaout structure: 
1. activity box
2. activity
3. activity-line
*/